# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Environment variables for Docker container
env.list

# Environment variables for dotenv
.env

# Database
db

 # Shared
/public/images/products