<div class="text-center">
    <img src="/images/404.gif" width="240" height="240" />
    <h1><strong>PAGE NOT FOUND</strong></h1>
    <h3>The page you are looking for is caught in <a href="/"><strong>FLAME</strong></a></h3>
</div>
