<div class="row" id="about-page">
  <div class="col-md-12">
    <div class="row row-header">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <%= __('WHEN SKATE CULTURE MEETS DESIGN') %>
          </div>
          <div class="col-md-7 hidden-xs"></div>
        </div>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper, ante vitae iaculis faucibus, erat quam scelerisque leo, sit amet pulvinar dui ligula et eros. Pellentesque sollicitudin urna libero. Quisque tincidunt libero vel euismod dictum. Aenean congue eleifend lacinia. Etiam imperdiet augue diam, a sagittis lectus varius nec. Sed quis ullamcorper urna. Morbi ipsum nunc, consequat ac facilisis bibendum, tempor at diam. Cras et mi vitae orci tincidunt interdum. Cras ut vulputate neque, nec congue arcu. Cras sed arcu ac ex pharetra tristique non in justo. Aliquam sed tortor vel risus vehicula facilisis vitae et metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris ligula nunc, cursus quis elementum sed, aliquet vel erat. Praesent nec turpis semper, tempor neque eget, pellentesque dolor. Phasellus a pharetra quam, et feugiat est. Cras id dolor mi. Pellentesque viverra id nulla et tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris molestie ipsum eget nisl tincidunt, quis fermentum massa vulputate. Quisque a tincidunt elit. Cras mattis gravida sodales. Pellentesque tortor odio, ullamcorper vitae tellus rhoncus, euismod sagittis nibh. Mauris vitae libero ex. Cras commodo dui non tristique blandit.</p>
    <img src="/images/about-1.jpg" class="img-responsive"/>
    <br/>
    <div class="row row-header">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <%= __('WHAT\'S OUR MISSION') %>
          </div>
          <div class="col-md-7 hidden-xs"></div>
        </div>
      </div>
    </div>
    <p>Proin ut viverra nunc. Etiam eget nibh vitae massa tristique egestas vel ac turpis. Mauris turpis nisl, scelerisque et eleifend a, tempus quis massa. Etiam tincidunt, nisl non pulvinar tincidunt, sem ante ornare ipsum, at commodo nisi massa a augue. Nam vel justo eu dui laoreet semper. Morbi et elit eros. Nunc tempor luctus risus nec sodales. Nunc finibus mauris gravida suscipit commodo. Curabitur feugiat metus non ex feugiat, aliquam porta erat viverra. Etiam sed tempor eros. Aliquam vulputate turpis vitae viverra vehicula. Integer luctus, risus in rutrum pretium, dui ex tincidunt ante, ac rutrum felis lorem sed quam.</p>
    <div class="row row-header">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <%= __('OUR TEAM') %>
          </div>
          <div class="col-md-7 hidden-xs"></div>
        </div>
      </div>
    </div>
  </div>
</div>