<div class="row" id="carousel">
  <div class="col-md-12">
    <h2>Carousel</h2>
  </div>
</div>

<div class="row" id="instagram">
  <div class="col-md-12">
    <h2>Instagram</h2>
  </div>
</div>

<div class="row" id="honeycomb">
  <div class="col-md-12">
    <h2>Honeycomb</h2>
  </div>
</div>