<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="https://use.fontawesome.com/ad98d6239d.js"></script>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="container">

    <div class="row" id="header">
      <div class="col-md-12">
        <a href="/">
          <img src="images/logo.png" id="logo" />
        </a>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row" id="nav">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-2 text-center">
            <a href="/">HOME</a>
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-3 text-center">
                <a href="/about">ABOUT US</a>
              </div>
              <div class="col-sm-3 text-center">
                <a href="/shop">PRODUCTS</a>
              </div>
              <div class="col-sm-3 text-center">
                <a href="/gallery">GALLERY</a>
              </div>
              <div class="col-sm-3 text-center">
                <a href="/contact">CONTACT US</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="javascripts/freewall.js"></script>

    <div class="row" id="body">
      <div class="col-md-12">
        <%-body-%>
      </div>
    </div>

    <div class="row" id="footer">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-5 col-md-3 col-links">
            <ul>
              <li><a href="/">HOME</a></li>
              <li><a href="/about">ABOUT US</a></li>
              <li><a href="/shop">PRODUCTS</a></li>
              <li><a href="/gallery">GALLERY</a></li>
              <li><a href="/contact">CONTACT US</a></li>
            </ul>
          </div>
          <div class="col-md-5 hidden-sm hidden-xs col-empty">
            <div class="footer-col-empty-line-pattern"></div>
          </div>
          <div class="col-xs-7 col-md-4 col-newsletter">
            <div class="text-center" style="margin-top:16px;">
              CALL US: <a href="tel:381-64-2435333">+381 64 243 5333</a>
            </div>
            <div class="text-center">
              <a href="https://www.facebook.com/flame.furniture" data-toggle="tooltip" data-placement="bottom" title="Visit our Facebook page"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/flame.furniture" data-toggle="tooltip" data-placement="bottom" title="Visit our Instagram page"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-copy text-center">
            &copy; 2016 <a href="/">FLAME FURNITURE INC.</a>, built by <a href="http://zeroeleven.rs">ZEROELEVEN</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>

  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-86950514-1', 'auto');
    ga('send', 'pageview');
  </script>

</body>

</html>