/**
* Fonts
*/

@font-face {
  font-family: 'brandongrotesque';
  src: url('../fonts/brandongrotesque-black.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'brandongrotesque';
  src: url('../fonts/brandongrotesque-bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'brandongrotesque';
  src: url('../fonts/brandongrotesque-light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'brandongrotesque';
  src: url('../fonts/brandongrotesque-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


/**
* General
*/

body {
  font: 14px "brandongrotesque", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  color: #4f4f4f;
  font-weight: 700;
}

a {
  color: #4f4f4f;
  transition: color 150ms;
  transition-timing-function: ease-in;
}

a:hover,
a:focus {
  color: #e76649;
  text-decoration: none;
}

hr.hr-pattern {
  height: 16px;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: #4f4f4f;
  border-image: url("../images/hr-pattern-border.png") 3 5 3 5 fill repeat;
  background: url("../images/hr-pattern.png") repeat-x;
  margin-bottom: 30px;
}

hr.hr-solid {
  border-style: solid;
  border-width: 3px 0px 0px;
  border-color: #4f4f4f;
  border-image: url("../images/hr-solid-border.png") 3 3 3 3 fill repeat;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}


/**
* Form
*/

.form-control:focus {
  border-color: inherit !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .4);
}

.btn {
  outline: none;
  border: none;
  letter-spacing: .2em;
  font-size: .82em;
  padding: 16px 48px;
  transition: background-color 150ms;
  transition-timing-function: ease-in;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none !important;
}

.btn-flame {
  position: relative;
  color: #FFF;
  background-color: #e0664c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
  outline: 0;
}

.btn-flame:after {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url('/images/btn-border.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  top: 8px;
  left: 8px;
}

.btn-flame:active {
  top: 6px;
  left: 6px;
}

.btn-flame:active:after {
  top: 2px;
  left: 2px;
}

.btn-flame:focus,
.btn-flame:active,
.btn-flame:hover {
  color: white;
}

.form-group label {
  font-size: 0.9em;
}

input.form-control,
textarea.form-control {
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: #4f4f4f;
}

.form-control-border-1 {
  border-image: url("../images/form-control-border-1.png") 3 3 3 3 fill repeat;
}

.form-control-border-2 {
  border-image: url("../images/form-control-border-2.png") 3 3 3 3 fill repeat;
}

.form-control-border-3 {
  border-image: url("../images/form-control-border-3.png") 3 3 3 3 fill repeat;
}

.form-control-border-4 {
  border-image: url("../images/form-control-border-4.png") 3 3 3 3 fill repeat;
}


/**
* Header
*/

#header {
  margin-bottom: 40px;
}

#logo {
  margin-left: 15px;
  transition: -webkit-filter 150ms, filter 150ms;
  transition-timing-function: ease-in;
}

#logo:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

#locales {
  font-size: .72em;
  letter-spacing: .1em;
  margin-top: 15px;
}

#locales a {
  cursor: pointer;
}


/**
* Nav
*/

#nav {
  font-size: .72em;
  letter-spacing: .1em;
  margin-bottom: 20px;
}

#nav>div {
  padding: 0 30px;
}

#nav a {
  display: block;
  padding: 10px 0 9px 0;
}

#nav>div>div {
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: #4f4f4f;
  border-image: url("../images/nav-border.png") 3 3 3 3 fill repeat;
}

#nav>div>div>div:first-child a {
  color: #e76649;
}

#nav>div>div>div:first-child a:hover {
  color: #4f4f4f;
}

#nav>div>div>div:first-child::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  height: 34px;
  width: 11px;
  background: url("../images/nav-separator.png") no-repeat right center;
}

@media (max-width: 768px) {
  #nav>div>div>div:first-child::after {
    background: none;
  }
}


/**
* Body
*/

a {
  color: #e76649;
}

a:hover,
a:focus {
  color: #4f4f4f;
}


/**
* Index page
*/

#index-page {
  margin-bottom: 50px;
}

#index-page .carousel-control {
  background-image: none;
  opacity: 1;
}

#index-page .carousel-control .carousel-btn {
  position: absolute;
  top: 50%;
  margin-top: -28px;
  display: inline-block;
  transition: left 60ms, right 60ms, margin-top 60ms;
  transition-timing-function: ease-in;
  opacity: .95;
}

#index-page .left.carousel-control .carousel-btn {
  left: -32px;
}

#index-page .left.carousel-control:active .carousel-btn {
  left: -38px;
  margin-top: -23px;
}

#index-page .right.carousel-control .carousel-btn {
  right: -32px;
}

#index-page .right.carousel-control:active .carousel-btn {
  right: -38px;
  margin-top: -23px;
}

#index-page .carousel-control .carousel-btn-border {
  position: absolute;
  top: 50%;
  display: inline-block;
}

#index-page .left.carousel-control .carousel-btn-border {
  left: -40px;
  margin-top: -28px;
}

#index-page .right.carousel-control .carousel-btn-border {
  right: -40px;
  margin-top: -28px;
}

@media (max-width: 768px) {
  .carousel-btn,
  .carousel-btn-border {
    display: none !important;
  }
}

#index-page .carousel-inner {
  background-color: #FFF;
}


/**
* Ribbon
*/

.ribbon {
  position: absolute;
  right: 10px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#414141 0%, #404040 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #404040;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #404040;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #404040;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #404040;
}


/**
* Instagram
*/

#instagram {
  font-size: .80em;
  letter-spacing: .2em;
}

#instagram>div {
  padding: 0 30px;
}

#instagram>div>div {
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: #4f4f4f;
  border-image: url("../images/instagram-border.png") 2 2 2 2 fill repeat;
  background: url("../images/instagram-line-pattern.png");
}

#instagram>div>div>div {
  padding: 5px 16px;
}

#instagram>div>div>div:first-child::after {
  content: "";
  position: absolute;
  right: -3px;
  top: 0;
  height: 26px;
  width: 7px;
  background: url("../images/instagram-separator.png") no-repeat right center;
}

#instagram>div>div>div:first-child {
  background-color: #f2f2f2;
}

@media (max-width: 992px) {
  #instagram>div>div,
  #instagram>div>div>div:first-child::after {
    background: none;
  }
}


/**
* Footer
*/

#footer {
  letter-spacing: .1em;
  margin-top: 50px;
  margin-bottom: 50px;
}

#footer>div {
  padding: 0 30px;
}

#footer>div>div {
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: #4f4f4f;
  border-image: url("../images/footer-border.png") 2 2 2 2 fill repeat;
}

#footer>div>div:first-child>div {
  position: relative;
  height: 123px;
  padding: 20px;
}

#footer>div>div+div {
  margin-top: -2px;
}

#footer a {
  color: #e76649;
}

#footer a:hover,
#footer a:focus {
  color: #4f4f4f;
}

#footer .col-links ul {
  font-size: .72em;
  margin: 4px 0 0;
  padding: 0;
  white-space: nowrap;
}

#footer .col-links ul li {
  list-style: none;
}

#footer .col-links a {
  color: #979797;
}

#footer .col-links a:hover,
#footer .col-links a:focus {
  color: #e76649;
}

#footer .col-copy {
  font-size: .8em;
  padding: 6px 0;
}

#footer .col-links::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  height: 123px;
  width: 8px;
  background: url("../images/footer-col-links-separator.png") no-repeat right bottom;
  z-index: 10;
}

#footer .col-empty::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  height: 123px;
  width: 8px;
  background: url("../images/footer-col-empty-separator.png") no-repeat right bottom;
}

@media (max-width: 768px) {
  #footer .col-empty::after {
    background: none;
  }
}

#footer .col-empty>div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 34px;
  background: url("../images/footer-col-empty-line-pattern.png");
  border-top-style: solid;
  border-top-width: 2px;
  border-radius: 3px;
  border-top-color: #4f4f4f;
  border-image: url("../images/footer-border.png") 2 2 2 2 fill repeat;
}

#footer .col-newsletter>div:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 34px;
  border-top-style: solid;
  border-top-width: 2px;
  border-radius: 3px;
  border-top-color: #4f4f4f;
  border-image: url("../images/footer-border.png") 2 2 2 2 fill repeat;
  padding-top: 3px;
}

#footer .fa {
  transition: color 150ms;
  transition-timing-function: ease-in;
}

#footer .fa:hover {
  color: #4f4f4f;
}

#footer .fa-facebook-square {
  color: #4862a3;
}

#footer .fa-instagram {
  color: #000000;
}


/**
 * Gallery page
 */

#gallery-page {
  margin-top: 30px;
}

#gallery-page .brick img {
  margin: 0;
  display: block;
}


/**
* Contact page
*/

#contact-info>div {
  padding: 0 30px;
}

#contact-info>div>div>div:first-child {
  padding: 0;
}

#contact-info>div>div>div:last-child {
  padding: 40px;
}

#contact-info>div>div {
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: #4f4f4f;
  border-image: url("../images/contact-info-border.png") 3 3 3 3 fill repeat;
}

#contact-info>div>div>div:first-child::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  height: 399px;
  width: 8px;
  background: url("../images/contact-info-separator.png") no-repeat right center;
}

@media (max-width: 768px) {
  #contact-info>div>div>div:first-child::after {
    background: none;
  }
  #contact-info>div>div>div:first-child {
    border-bottom: 3px solid #414141;
  }
}


/**
* Products page
*/

.row-categories {
  position: relative;
  top: -20px;
}

nav.categories {
  margin-bottom: 20px;
}

nav.categories ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}

nav.categories>ul {
  font-size: .72em;
  border-image: url("../images/categories-border.png") 3 3 3 3 fill repeat;
  border-bottom: 3px solid #414141;
}

nav.categories>ul>li {
  position: relative;
}

nav.categories ul li {
  display: inline-block;
  padding: 0 32px;
  white-space: nowrap;
}

nav.categories a {
  display: inline-block;
}

nav.categories>ul>li>a {
  padding: 10px 0;
}

nav.categories>ul>li>ul>li>a {
  padding: 5px 0;
}


/* hide dropdowns by default */

nav.categories ul ul {
  visibility: hidden;
  position: absolute;
  top: 15px;
  left: -9999px;
  background-color: #f2f2f2;
  border: 2px solid #414141;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  border-color: #4f4f4f;
  border-image: url("../images/subcategories-border.png") 2 2 2 2 fill repeat;
  padding: 8px 0;
  z-index: 9;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: opacity 150ms ease, top 150ms ease;
  -moz-transition: opacity 150ms ease, top 150ms ease;
  -o-transition: opacity 150ms ease, top 150ms ease;
  transition: opacity 150ms ease, top 150ms ease;
}


/* display dropdowns on hover */

nav.categories ul li:hover>ul {
  top: 30px;
  left: 0;
  display: inherit;
  visibility: visible;
  opacity: 1;
}


/* first tier dropdown */

nav.categories ul ul li {
  float: none;
  display: list-item;
  position: relative;
}

.heading-baseline {
  font-weight: 700;
  text-transform: uppercase;
}

.heading-signature {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
}

.product-info {
  position: relative;
  font-weight: lighter;
  color: #808080;
}

.product-info .product-name {
  color: #e76649;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-info .product-category-name {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.product-info .share-product {
  margin-top: 20px;
}

.product-info .share-product a {
  margin-right: 5px;
}

.category-title {
  padding: 10px 0;
  color: #808080;
  font-weight: lighter;
}

.grid-item.product-item .product-featured-image {
  background-size: cover;
}

.grid-item.product-item .product-info .product-name {
  margin-top: 30px;
}

.grid-item.product-item {
  float: left;
  width: 275px;
  margin: 5px;
  font-weight: lighter;
}

.grid-item.product-item>div {
  padding: 10px;
}

.grid-item.product-item .product-info {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px 20px 30px;
  visibility: hidden;
}

.grid-item.product-item .product-info {
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
}

.grid-item.product-item.layout-landscape>div {
  min-height: 183.5px;
}

.grid-item.product-item.layout-landscape .product-info {
  min-height: 183.5px;
}

.grid-item.product-item.layout-portrait>div {
  min-height: 412.5px;
}

.grid-item.product-item.layout-portrait .product-info {
  min-height: 412.5px;
}

#carousel-product-gallery img.img-standard {
  width: 100%;
}

#product-gallery-thumbnails {
  display: flex;
}

#product-gallery-thumbnails>div {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px 10px 0 0;
}

#product-gallery-thumbnails>div:last-child {
  padding-right: 0;
}

#product-gallery-thumbnails img {
  width: 100%;
  cursor: pointer;
  -webkit-user-drag: none;
  transition: -webkit-filter 150ms, filter 150ms;
  transition-timing-function: ease-in;
}

#product-gallery-thumbnails img:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}