/**
* Fonts
*/

@font-face {
  font-family: 'brandongrotesque';
  src: url('../fonts/brandongrotesque-black.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'brandongrotesque';
  src: url('../fonts/brandongrotesque-bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'brandongrotesque';
  src: url('../fonts/brandongrotesque-light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'brandongrotesque';
  src: url('../fonts/brandongrotesque-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


/**
* General
*/

body {
  font: 14px "brandongrotesque", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  color: #4f4f4f;
  font-weight: 700;
  overflow-x: hidden;
}

a {
  color: #4f4f4f;
  transition: color 150ms;
  transition-timing-function: ease-in;
}

a:hover,
a:focus {
  color: #e76649;
  text-decoration: none;
}

p {
  font-weight: lighter;
}

hr.hr-pattern {
  height: 15px;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: #4f4f4f;
  border-image: url("../images/hr-pattern-border.png") 6 7 6 7 fill;
  background: url("../images/hr-pattern.png") repeat-x;
  background-size: auto 100%;
  margin-bottom: 30px;
}

hr.hr-solid {
  border-style: solid;
  border-width: 3px 0px 0px;
  border-color: #4f4f4f;
  border-image: url("../images/hr-solid-border.png") 6 6 6 6 fill;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}

p.notice {
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.row-no-padding div[class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


/**
* Toggle Styles
*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 2000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#menu-toggle {
  font-size: .72em;
  margin-top: 15px;
}


/**
* Sidebar Styles
*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: .82em;
}

.sidebar-nav ul {
  padding-left: 15px;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 15px;
  line-height: 30px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  padding: 15px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper.toggled {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}


/**
* Form
*/

.form-control:focus {
  border-color: inherit !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .4);
}

.btn {
  outline: none;
  border: none;
  letter-spacing: .2em;
  font-size: .82em;
  padding: 16px 48px;
  transition: background-color 150ms;
  transition-timing-function: ease-in;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none !important;
}

.btn-flame {
  position: relative;
  color: #FFF;
  background-color: #e0664c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
  outline: 0;
}

.btn-flame:after {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url('/images/btn-border.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 464px 55px; 
  position: absolute;
  top: 6px;
  left: 6px;
}

.btn-flame:active {
  top: 6px;
  left: 6px;
}

.btn-flame:active:after {
  top: 2px;
  left: 2px;
}

.btn-flame:focus,
.btn-flame:active,
.btn-flame:hover {
  color: white;
}

.form-group label {
  font-size: 0.9em;
}

input.form-control,
textarea.form-control {
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: #4f4f4f;
}

.form-control-border-1 {
  border-image: url("../images/form-control-border-1.png") 6 6 6 6 fill;
}

.form-control-border-2 {
  border-image: url("../images/form-control-border-2.png") 6 6 6 6 fill;
}

.form-control-border-3 {
  border-image: url("../images/form-control-border-3.png") 6 6 6 6 fill;
}

.form-control-border-4 {
  border-image: url("../images/form-control-border-4.png") 6 6 6 6 fill;
}


/**
* Header
*/

#header {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 0 15px 15px 15px;
    margin: 0 0 0 -15px;
    z-index: 1005;
  }
  #body {
    margin-top: 60px;
  }
}

#logo {
  max-width: 302px;
  margin-left: 15px;
  transition: -webkit-filter 150ms, filter 150ms;
  transition-timing-function: ease-in;
}

#logo:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

#locales {
  font-size: .72em;
  letter-spacing: .1em;
  margin-top: 15px;
}

@media (min-width: 768px) {
  #locales {
    padding-right: 15px;
  }
}

#locales a {
  cursor: pointer;
}

#locales a.active {
  color: #4f4f4f;
}


/**
* Nav
*/

#nav {
  font-size: .72em;
  letter-spacing: .1em;
  margin-bottom: 20px;
}

#nav>div {
  padding: 0 30px;
}

#nav a {
  display: block;
  padding: 10px 0 9px 0;
}

#nav>div>div {
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: #4f4f4f;
  border-image: url("../images/nav-border.png") 6 6 6 6 fill;
}

#nav>div>div>div:first-child a {
  color: #e76649;
}

#nav>div>div>div:first-child a:hover {
  color: #4f4f4f;
}

#nav>div>div>div:first-child::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  height: 34px;
  width: 11px;
  background: url("../images/nav-separator.png") no-repeat right center;
  background-size: 14px 34px;
}

@media (max-width: 768px) {
  #nav>div>div>div:first-child::after {
    background: none;
  }
}


/**
* Body
*/

a {
  color: #e76649;
}

a:hover,
a:focus {
  color: #4f4f4f;
}


/**
* Index page
*/

#index-page {
  margin-bottom: 50px;
}

#index-page .carousel-control {
  background-image: none;
  opacity: 1;
}

#index-page .carousel-control .carousel-btn {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  display: inline-block;
  transition: left 60ms, right 60ms, margin-top 60ms;
  transition-timing-function: ease-in-out;
  opacity: .95;
}

#index-page .carousel-control .carousel-btn-border {
  opacity: .95;
}

#index-page .left.carousel-control .carousel-btn {
  left: -30px;
}

#index-page .left.carousel-control:active .carousel-btn {
  left: -37px;
  margin-top: -25px;
}

#index-page .right.carousel-control .carousel-btn {
  right: -30px;
}

#index-page .right.carousel-control:active .carousel-btn {
  right: -37px;
  margin-top: -25px;
}

#index-page .carousel-control .carousel-btn-border {
  position: absolute;
  top: 50%;
  display: inline-block;
}

#index-page .left.carousel-control .carousel-btn-border {
  left: -38px;
  margin-top: -30px;
}

#index-page .right.carousel-control .carousel-btn-border {
  right: -38px;
  margin-top: -30px;
}

#index-page .carousel-inner {
  background-color: #FFF;
}


/**
* Row header
*/

.row-header {
  font-size: .80em;
  font-weight: lighter;
  letter-spacing: .2em;
  margin-top: 30px;
  margin-bottom: 15px;
}

.row-header>div {
  padding: 0 30px;
}

.row-header>div>div {
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: #4f4f4f;
  border-image: url("../images/instagram-border.png") 4 4 4 4 fill;
  background: url("../images/instagram-line-pattern.png") repeat-x;
  background-size: auto 100%;
}

.row-header>div>div>div {
  padding: 5px 16px;
}

.row-header>div>div>div:first-child::after {
  content: "";
  position: absolute;
  right: -3px;
  top: 0;
  height: 26px;
  width: 7px;
  background: url("../images/instagram-separator.png") no-repeat right center;
  background-size: 9px 26px;
}

.row-header>div>div>div:first-child {
  background-color: #f2f2f2;
}

@media (max-width: 992px) {
  .row-header>div>div,
  .row-header>div>div>div:first-child::after {
    background: none;
  }
}


/**
* Footer
*/

#footer {
  letter-spacing: .1em;
  margin-top: 50px;
  margin-bottom: 50px;
}

#footer>div {
  padding: 0 30px;
}

#footer>div>div {
  min-height: 159px;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: #4f4f4f;
  border-image: url("../images/footer-border.png") 4 4 4 4 fill;
}

#footer>div>div>div>div:first-child>div {
  position: relative;
  height: 123px;
  padding: 20px;
}

#footer>div>div+div {
  margin-top: -2px;
}

#footer a {
  color: #e76649;
}

#footer a:hover,
#footer a:focus {
  color: #4f4f4f;
}

#footer .col-links ul {
  font-size: .72em;
  margin: 4px 0 0;
  padding: 0;
  white-space: nowrap;
}

#footer .col-links ul li {
  list-style: none;
}

#footer .col-links a {
  color: #979797;
}

#footer .col-links a:hover,
#footer .col-links a:focus {
  color: #e76649;
}

#footer .col-copy {
  font-size: .8em;
  padding: 7px 0;
}

#footer .col-links::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  height: 123px;
  width: 8px;
  background: url("../images/footer-col-links-separator.png") no-repeat right bottom;
  background-size: 8px 123px;
  z-index: 10;
}

#footer .col-empty::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  height: 123px;
  width: 8px;
  background: url("../images/footer-col-empty-separator.png") no-repeat right bottom;
  background-size: 8px 123px;
}

@media (max-width: 768px) {
  #footer .col-empty::after {
    background: none;
  }
}

#footer .col-empty>div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 34px;
  background: url("../images/footer-col-empty-line-pattern.png") repeat-x;
  background-size: auto 100%;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #4f4f4f;
  border-image: url("../images/footer-horizontal-border.png") 4 0 0 0 fill;
}

#footer .col-newsletter>div:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 34px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #4f4f4f;
  border-image: url("../images/footer-horizontal-border.png") 4 0 0 0 fill;
  padding-top: 3px;
  letter-spacing: initial;
}

#footer .col-newsletter {
  font-weight: lighter;
}

#footer .col-newsletter .receive-news {
  font-size: 0.8em;
  margin-bottom: 4px;
}

#footer .col-newsletter input[type=email] {
  border: 3px solid #e76647;
  border-radius: 3px;
  font-size: 0.72em;
  color: #565656;
  padding: 4px 12px;
  width: 100%;
  height: 32px;
}

#footer .col-newsletter .newsletter-form-container {
  position: relative;
}

#footer .col-newsletter input[type=submit] {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 0.7em;
  padding: 0.3em 1em;
  border: none;
  background-color: #e76647;
  color: white;
  border-radius: 3px;
  font-weight: lighter;
  transition: opacity 150ms;
  transition-timing-function: ease-in;
}

#footer .col-newsletter input[type=submit]:hover {
  opacity: 0.8;
}

#footer .fa {
  transition: color 150ms;
  transition-timing-function: ease-in;
}

#footer .fa:hover {
  color: #4f4f4f;
}

#footer .fa-facebook-square {
  color: #4862a3;
}

#footer .fa-instagram {
  color: #000000;
}

#footer .subscribe-thanks {
  font-size: 0.8em;
  margin-top: 9px;
  background-color: #e0664c;
  border-radius: 3px;
  padding: 6px;
  color: white;
  text-transform: uppercase;
}

#footer .row-copyright {
  border-top: 2px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #4f4f4f;
  border-image: url("../images/footer-horizontal-border.png") 4 0 0 0 fill;
}

/**
* About
*/

.members {
  font-size: .82em;
  letter-spacing: .1em;
}

.members .member {
  margin: 40px 0 20px 0;
}

.members .member img {
  width: 210px;
  height: 210px;
  -webkit-clip-path: polygon(50% 0%, 100% 27%, 100% 73%, 50% 100%, 0% 73%, 0% 27%);
  clip-path: polygon(50% 0%, 100% 27%, 100% 73%, 50% 100%, 0% 73%, 0% 27%);
  transition: all 250ms ease;
}

.members .member img:hover {
  -webkit-clip-path: polygon(34% 0, 100% 25%, 100% 75%, 66% 97%, 0 79%, 0% 25%);
  clip-path: polygon(34% 0, 100% 25%, 100% 75%, 66% 97%, 0 79%, 0% 25%);
}

.members .member .name {
  margin-top: 40px;
}

.members .member .title {
  font-weight: lighter;
}

/**
 * Gallery page
 */

#gallery-page {
  margin-top: 30px;
}

#gallery-page .brick img {
  margin: 0;
  display: block;
}


/**
* Contact page
*/

#contact-info>div {
  padding: 0 30px;
}

#contact-info>div>div>div:first-child {
  padding: 0;
}

#contact-info>div>div>div:last-child {
  padding: 40px;
}

#contact-info>div>div {
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: #4f4f4f;
  border-image: url("../images/contact-info-border.png") 6 6 6 6 fill;
}

#contact-info>div>div>div:first-child::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  height: 399px;
  width: 8px;
  background: url("../images/contact-info-separator.png") no-repeat right center;
  background-size: 8px 399px;
}

@media (max-width: 768px) {
  #contact-info>div>div>div:first-child::after {
    background: none;
  }
  #contact-info>div>div>div:first-child {
    border-bottom: 3px solid #414141;
  }
}


/**
* Products page
*/

.row-categories {
  position: relative;
  margin-top: -20px;
}

nav.categories {
  margin-bottom: 20px;
}

nav.categories ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}

nav.categories>ul {
  font-size: .72em;
  border-image: url("../images/categories-border.png") 0 0 6 0 fill;
  border-bottom: 3px solid #414141;
}

nav.categories>ul>li {
  position: relative;
}

nav.categories ul li {
  display: inline-block;
  padding: 0 32px;
  white-space: nowrap;
}

nav.categories a {
  display: inline-block;
}

nav.categories>ul>li>a {
  padding: 10px 0;
}

nav.categories>ul>li>ul>li>a {
  padding: 5px 0;
}


/* hide dropdowns by default */

nav.categories ul ul {
  visibility: hidden;
  position: absolute;
  top: 15px;
  left: -9999px;
  background-color: #f2f2f2;
  border: 2px solid #414141;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  border-color: #4f4f4f;
  border-image: url("../images/subcategories-border.png") 2 2 2 2 repeat;
  padding: 8px 0;
  z-index: 9;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: opacity 150ms ease, top 150ms ease;
  -moz-transition: opacity 150ms ease, top 150ms ease;
  -o-transition: opacity 150ms ease, top 150ms ease;
  transition: opacity 150ms ease, top 150ms ease;
}


/* display dropdowns on hover */

nav.categories ul li:hover>ul {
  top: 30px;
  left: 0;
  display: inherit;
  visibility: visible;
  opacity: 1;
}


/* first tier dropdown */

nav.categories ul ul li {
  float: none;
  display: list-item;
  position: relative;
}

.heading-baseline {
  font-weight: 700;
  text-transform: uppercase;
}

.heading-signature {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
}

.product-info {
  position: relative;
  font-weight: lighter;
  color: #808080;
}

.product-info .product-name {
  color: #e76649;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-info .product-category-name {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.product-info .share-product {
  margin-top: 20px;
}

.product-info .share-product a {
  margin-right: 5px;
}

.category-title {
  text-align: center;
  text-transform: uppercase;
  color: #808080;
  font-weight: lighter;
  margin-bottom: 15px;
}

.grid-item.product-item .product-featured-image {
  background-size: cover;
}

.grid-item.product-item .product-info .product-name {
  margin-top: 20px;
}

.grid-item.product-item {
  float: left;
  font-weight: lighter;
}

@media (min-width: 768px) {
  .grid-item.product-item {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .grid-item.product-item {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .grid-item.product-item {
    width: 33%;
  }
}

.grid-item.product-item {
  padding: 5px;
}

.grid-item.product-item>img {
  max-width: 100%;
}

.grid-item.product-item .product-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  margin: 15px;
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  height: -moz-calc(100% - 30px);
  height: calc(100% - 30px);
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.85);
}

.grid-item.product-item .product-info {
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
}

#carousel-product-gallery img.img-standard {
  width: 100%;
}

#product-gallery-thumbnails {
  display: flex;
}

#product-gallery-thumbnails>div {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px 10px 0 0;
}

#product-gallery-thumbnails>div:last-child {
  padding-right: 0;
}

#product-gallery-thumbnails img {
  width: 100%;
  cursor: pointer;
  opacity: 0.65;
  -webkit-user-drag: none;
  transition: opacity 250ms;
  transition-timing-function: ease-in;
  -webkit-transform: translateZ(0);
  width: calc(100% + .49px);
  /* https://css-tricks.com/forums/topic/css3-transition-opacity-causing-glitch-in-images/#post-203480 */
}

#product-gallery-thumbnails img.active {
  opacity: 1;
}