<div class="row row-categories">
  <div class="col-md-12">
    <nav class="categories text-center">
      <ul>
        <% for (let category of categories) { %>
          <li>
            <a href="/products/<%= category.slug %>"><%= category.name %></a>
            <% if (category.subcategories && category.subcategories.length > 0) { %>
              <ul class="text-left">
                <% for (let subcategory of category.subcategories) { %>              
                  <li>
                    <a href="/products/<%= subcategory.slug %>"><%= subcategory.name %></a>
                  </li>
                <% } %>
              </ul>
            <% } %>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>
</div>