<div class="row row-categories hidden-xs">
  <div class="col-md-12">
    <nav class="categories text-center">
      <%- include('_categories-list', { categories: categories }) %>
    </nav>
  </div>
</div>