<%- include('_categories-list', { categories: [], type: type }) %>
<%- include('_type-heading', { type: type }); %>

<div class="row">
  <div class="col-md-12">
    <h1>
      <%= category.name %>
    </h1>
  </div>
</div>