<div class="row">
  <div class="col-md-6">
    <h2 class="text-center heading-baseline"><a href="/products/baseline">BASELINE</a></h2>
    <p class="text-center text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et odio vitae nisi dapibus dictum. Donec tempor massa eget velit lobortis blandit. Aliquam sed tincidunt lorem, in faucibus erat.</p>
    <div class="text-center"><button type="button" class="btn btn-default" onclick="location.href='/products/baseline';">View BASELINE products</button></div>
  </div>
  <div class="col-md-6">
    <h2 class="text-center heading-signature"><a href="/products/signature">Signature</a></h2>
    <p class="text-center text-light">Donec volutpat leo vitae diam pretium, id scelerisque leo malesuada. Curabitur convallis nunc felis, id interdum lectus semper ut. Maecenas maximus tristique nunc id tincidunt.</p>
    <div class="text-center"><button type="button" class="btn btn-default" onclick="location.href='/products/signature';">View SIGNATURE products</button></div>
  </div>
</div>