<div class="row" id="products-index-page">
  <div class="col-md-12">
    <%- include('_categories-nav', { categories: categories }) %>
    <% if (locals.category) { %>
      <%- include('_category-title', { category: category }) %>
    <% } %>
    <%- include('_products-list', { products: products }) %>
  </div>
</div>